<%= render 'shared/menu' %>
<%= render 'shared/integrate' %>
<%= render 'shared/dropbox' %>
<%= render 'shared/revoke' %>
<%= render 'shared/revokedb' %>
<div class="row">
  <div class="ui message transition heyyou" style="display: none;">
    <i class="close icon"></i>
    <div class="header">
      Thanks!
    </div>
    <p>But you dont have any data to sync!</p>
  </div>
  <div class="ui message transition ityourbutfail" style="display: none;">
    <i class="close icon"></i>
    <p>You have nothing to sync.</p>
  </div>
  <div class="ui message transition amDoneHere" style="display: none;">
    <i class="close icon"></i>
    <div class="header">
      Evercam
    </div>
    <p>Your EOT has been integrated and synched with Evercam.</p>
  </div>
</div>

<div class="row">

  <div class="ui makeit-take cards" style="display: none;">
    <div class="card itsevercam">
      <div class="content">
        <div class="image">
          <img src="https://evercam.io/wp-content/uploads/2017/11/evercam_logo.png" width="192">
        </div>
      </div>
      <div id="image_processing">
        <img class="loading-one" src="/assets/loading.gif"/>
      </div>
      <div class="content etcstuff">
        <div class="header">Evercam</div>
        <div class="description">
          Construction Timelapse & Project Management Cameras.
        </div>
      </div>
      <div class="extra content am-the-sync" style="display: none;">
        <span class="right floated">
          <div class="ui icon button letSyncAgain" data-tooltip="Click to sync again." data-delay="500">
            <i class="refresh icon"></i>
          </div>
        </span>
        <span id="when-sync-did">
          Last Sync 3 days ago
        </span>
      </div>
      <div class="extra content domecenter openmein">
      </div>
      <div class="ui bottom attached button" id="integrate-me" style="display: none;">
        <i class="add icon"></i>
        Integrate
      </div>
      <div class="ui bottom attached button" id="revoke-me" style="display: none;">
        <i class="trash icon"></i>
        Revoke
      </div>
    </div>

    <div class="card">
      <div class="content">
        <div class="image" style="text-align: center;">
          <img src="https://cfl.dropboxstatic.com/static/images/about/dropbox_logo_text_2015-vfld7_dJ8.svg" width="155">
        </div>
      </div>
      <div id="image_processing_db">
        <img class="loading-one_db" src="/assets/loading.gif"/>
      </div>
      <div class="content">
        <div class="header">DropBox</div>
        <div class="description etcstuffdb">
          Introducing Dropbox Paper and Smart Sync — a simpler way to work together.
        </div>
      </div>
      <div class="extra content am-the-db-sync" style="display: none;">
        <span class="right floated">
          <div class="ui icon button letSyncDBAgain" data-tooltip="Click to sync again." data-delay="500">
            <i class="refresh icon"></i>
          </div>
        </span>
        <span id="when-db-sync-did">
          Last Sync 3 days ago
        </span>
      </div>
      <div class="ui bottom attached button" id="drop-box-integrate" style="display: none;">
        <i class="add icon"></i>
        Integrate
      </div>
      <div class="ui bottom attached button" id="revoke-db-me" style="display: none;">
        <i class="trash icon"></i>
        Revoke
      </div>
    </div>
  </div>

</div>
<script>
  window.CurrentUser = <%= @current_user.to_json.html_safe %>;
  window.AuthData = <%= @auth_data.to_json.html_safe %>;
  $(document).ready(function () {
      $('.message .close')
    .on('click', function() {
      $(this)
        .closest('.message')
        .transition('fade')
      ;
    })
  ;
    $('.ui.dropdown').dropdown();
    $('.ui.radio.checkbox')
      .checkbox()
    ;
    window.initializeIntegrations();
  });
</script